<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924335070648-rch874oqi7ks8ct6oev3c0ts7u243m4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924335070648-rch874oqi7ks8ct6oev3c0ts7u243m4i</string>
	<key>API_KEY</key>
	<string>AIzaSyDVAIzD3KEbglHNVxrw2wQCNCUkG2_59CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>924335070648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raid.fitendMember</string>
	<key>PROJECT_ID</key>
	<string>fitend-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>fitend-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924335070648:ios:caf83df2601bb27ad0c34d</string>
</dict>
</plist>